<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title> {{ titulo }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="darkgreen">
  <ion-searchbar (ionChange)="buscarSeries($event)" placeholder="Buscar">
  </ion-searchbar>

  <ion-list *ngIf="listaSeries">
    <ion-item lines="none" *ngIf="listaSeries.results.length === 0">
      <ion-label class="ion-text-center">
        Não há Series para exibir...
      </ion-label>
    </ion-item>

    <ion-item-sliding *ngFor="let Serie of listaSeries.results">
      <ion-item lines="full" (click)="exibirSerie(Serie)">
        <ion-thumbnail slot="start">
          <img
            *ngIf="Serie.poster_path"
            src="https://www.themoviedb.org/t/p/w500/{{Serie.poster_path}}"
          />
          <ion-icon *ngIf="!Serie.poster_path" name="videocam-off"></ion-icon>
        </ion-thumbnail>

        <ion-label class="ion-text-wrap">
          <div>
            <h1>{{Serie.original_title}}</h1>
            <p>{{Serie.release_date | date: 'shortDate'}}</p>
            <ion-badge color="light" *ngFor="let idGenero of Serie.genre_ids">
              {{generos[idGenero]}}
            </ion-badge>
          </div>
        </ion-label>

        <ion-chip
          [color]="Serie.vote_average < 5 ? 'danger' : ((Serie.vote_average < 7) ? 'warning' : 'success')"
          outline
        >
          <ion-label>{{Serie.vote_average}}</ion-label>
        </ion-chip>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="skygreen" (click)="exibirAlertaFavorito()">
          <ion-icon slot="icon-only" name="star"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
