<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title> Filmes </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar placeholder="Buscar"></ion-searchbar>
  <ion-list>
    <ion-item-sliding>
    <ion-item lines="full">
      <ion-thumbnail slot="start">
        <img
          src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/mDwR1rFiXX4bEUTNCtPVYeMdru3.jpg"
        />
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <div>
          <h1>Terra Brasil - Especial Paraty (2020)</h1>
          <p>11/11/2020 (BR) - 34m</p>
          <p>Documentário</p>
        </div>
      </ion-label>
      <ion-chip color="primary" outline>
        <ion-label>100%</ion-label>
      </ion-chip>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option>
        <ion-icon slot="icon-only" name="star"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
  </ion-list>
</ion-content>
